<section class="block block--dark block--skewed-right showcase">
  <header class="block__header">
    <h2 class="block__heading">User Friendly Control Panel</h2>
    <div class="container grid grid--1x2">
      <picture class="showcase__image">
        <source
          type="image/webp"
          srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/ipad.jpg 1x, images/ipad@2x.jpg 2x"
        />
        <img src="images/ipad.png" alt="" />
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                eveniet facilis sequi explicabo cupiditate officiis rerum id
                delectus excepturi aspernatur.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                eveniet facilis sequi explicabo cupiditate officiis rerum id
                delectus excepturi aspernatur.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                eveniet facilis sequi explicabo cupiditate officiis rerum id
                delectus excepturi aspernatur.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</section>
